@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model UnderstandingControllersViews.Models.Person

@{
}

<h1>@Model.Name sex is @Model.Sex</h1>
